
@import "./utils/_mixins", "./utils/_variables";
@import "./base/_normalize", "./base/_typography";
@import "./composants/_badge-new", "./composants/_btn", "./composants/_heart", "./composants/check_icon", "./composants/_footer";
@import "./pages/_page-resto";



.header {
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   padding: 20px 0px 10px 0px;
}

.localization {
   height: 55px;
   width: 100%;
   background-color: #eaeaea;
   box-shadow: inset 0px 2px 5px 0px $shadow-color;
   font-weight: 500;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   &__icon {
      margin-right: 20px;
      color: #444444;
   }
   &__text {
      display: inline-block;
      margin-right: 35px;
      color: #444444;
   }
}

.exploration {
   text-align: center;
   background-color: #f6f6f6;
   padding: 40px 35px 55px 35px;
   &__title {
      margin-bottom: 20px;
      font-weight: bolder;
   }
   &__text {
      margin-bottom: 20px;
      color: #444444;
   }
}

.steps {
   padding: 55px 20px 45px 20px;
   &__title {
      margin-bottom: 30px;
   }
   &__card {
      height: 75px;
      display: flex;
      align-items: center;
      background-color: #f6f6f6;
      @include shadow;
      margin-bottom: 20px;
      margin-left: 10px;
      padding: 0px 55px 0px 20px;
      border-radius: 25px;
      &__icon {
         font-size: 20px;
         margin-right: 30px;
         color: $shadow-color;
      }
      &__number {
         height: 25px;
         width: 25px;
         border-radius: 50%;
         background-color: $primary-color;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         left: -35px;
         color: white;
      }
      &__text {
         font-weight: 500;
      }
      &:hover {
         background-color: lighten($primary-color, $amount: 35%);
      }
      &:hover :nth-child(2) {
         color: $primary-color;
      }
   }
}

.restaurants {
   padding: 50px 20px 45px 20px;
   background-color: #f6f6f6;
   &__title {
      margin-bottom: 30px;
   }
   &__card {
      position: relative;
      height: 250px;
      margin-bottom: 20px;
      border-radius: 10px;
      @include shadow;
      &__img {
         display: block;
         max-height: 175px;
         width: 100%;
         border-radius: 10px 10px 0 0;
         object-fit: cover;
      }
      &__description {
         padding: 15px;
         display: flex;
         justify-content: space-between;
      }
      &__icon {
         margin-top: 5px;
      }
   }
}

@media screen and (min-width: 768px) {
   .container {
      width: 75%;
      margin: auto;
   }
   h2 {
      width: 75%;
      margin: auto;
   }
}

@media screen and (min-width: 1024px) {
   .container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: auto;
      &__card {
         width: 49%;
      }
   }

   h2, .footer__title {
      margin: 0;
      width: 100%;
   }

   .menu {
      width: 32%;
   }

   .pa_main {
      width: 100%;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 25px;
      &__container {
         margin: 0 10px;
      }
   }
}

