//button
.btn {
   display: block;
   margin: auto;
   width: max-content;
   @include gradient-color;
   color: #fff;
   border-radius: 30px;
   border: none;
   @include shadow;
   padding: 15px 25px;
   font-weight: bold;
   transition: 0.2s ease-in-out;
   opacity: 1;
   &:hover {
    opacity: 0.8;
    @include darker-shadow;
   }
}
