//button
.btn {
   display: block;
   margin: auto;
   width: max-content;
   @include gradient-color;
   color: #fff;
   border-radius: 30px;
   border: none;
   @include shadow;
   padding: 15px 25px;
   font-weight: bold;
   transform: scale(1);
   transition: transform 0.5s;
   opacity: 1;
   &:hover {
    transform: scale(1.01);
    opacity: 0.8;
    box-shadow: 1px 1px 10px #444;
   }
}
