//button
.btn {
   display: block;
   margin: auto;
   width: max-content;
   background-image: linear-gradient(#ff79da, #9356dc);
   color: #fff;
   border-radius: 30px;
   border: none;
   box-shadow: 2px 2px 10px #c4c3c0;
   padding: 15px 25px;
   font-weight: bold;
   transform: scale(1);
   transition: transform 500ms;
   opacity: 1;
   &:hover {
    transform: scale(1.01);
    opacity: 0.8;
    box-shadow: 1px 1px 10px #444;
   }
}
