.footer {
   padding: 25px;
   background-color: #353535;
   &__title {
      font-family: "shrikhand", arial, sans-serif;
      font-size: 24px;
      color: #f6f6f6;
      margin-bottom: 15px;
   }
   &__list {
      margin-bottom: 10px;
   }
   &__text {
      color: #f6f6f6;
   }
   &__icon {
      width: 10px;
      margin-right: 10px;
   }
}
