//heart:hover
.fa-heart {
    font-size: 25px;
    &:hover {
        background: linear-gradient(#FF79DA, #9356DC);
        transition: color 1s ease-out;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}