@keyframes apparition {
   0% {
      transform: scaley(0);
   }
   100% {
      transform: scaley(1);
   }
}

.time_delay_1 {
   animation-delay: 0.1s;
}

.time_delay_2 {
   animation-delay: 0.3s;
}

.time_delay_3 {
   animation-delay: 0.6s;
}

.time_delay_4 {
   animation-delay: 0.9s;
}

//----animation loader circle----
@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

//----animation disparition loader----
@keyframes loader {
   0% {
      background-color: rgba(246, 246, 246, 0.8);
      opacity: 1;
   }
   25% {
      background-color: rgba(246, 246, 246, 0.8);
   }
   50% {
      background-color: rgba(246, 246, 246, 0.8);
      opacity: 0.95;
   }
   75% {
      background-color: rgba(246, 246, 246, 0.8);
      opacity: 0.9;
   }
   100% {
      background-color: rgba(246, 246, 246, 0.8);
      opacity: 0;
   }
}

//----animation remplissage coeur----
@keyframes fill {
   0% {
      opacity: 0.1;
   }
   25% {
      opacity: 0.25;
   }
   50% {
      opacity: 0.5;
   }
   75% {
      opacity: 0.75;
   }
   100% {
      opacity: 1;
   }
}

@keyframes progress {
   0% {
      transform: scale(0);
   }
   100% {
      transform: scale(1);
   }
}
